<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.gatling.http.engine.response" level="WARN"/>
    <logger name="io.gatling.http.client.impl.request" level="WARN"/>
    <logger name="io.gatling.http.client.impl" level="WARN"/>
    <logger name="io.gatling.http" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
